<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <section id="about">
      <%- partial('_partial/about') %>
    </section>
    <section id="projects">
      <%- partial('_partial/projects') %>
    </section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </body>
</html>