<footer id="footer" class="footer">
    <p>&copy; <% if (config.author){ %><%- config.author %><% } else { %><%- theme.username %><% } %></p>
    <p>Theme design by <a href="https://github.com/nrandecker">Nathan Randecker</a>, imported to Hexo by <a href="https://github.com/sandmonster">Alexey Zakaldaev</a></p>
</footer>
<%- js(['//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js', 'js/sweet-scroll.min.js', 'js/main.js']) %>
<%- partial('google-analytics') %>
