<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title"><% if (config.author){ %><%- config.author %><% } else { %><%- theme.username %><% } %></span>
      <span class="site-description"><% if (config.user_title){ %><%- config.user_title %><% } else { %><%- theme.user_title %><% } %></span>
    </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="<% if (config.email){ %><%- config.email %><% } else { %>#<% } %>">
          <i class="icon fa fa-envelope"></i>
        </a>
        <a aria-label="My Twitter" target="_blank" href="<% if (config.twitter){ %><%- config.twitter %><% } else { %>#<% } %>">
          <i class="icon fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a aria-label="My Google Plus" target="_blank" href="<% if (config.gplus){ %><%- config.gplus %><% } else { %>#<% } %>">
          <i class="icon fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a aria-label="My Github" target="_blank" href="<% if (config.github){ %><%- config.github %><% } else { %>#<% } %>">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
