<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><% if (config.title){ %><%= config.title %> | <% } %><%= theme.title %></title>
  <meta name="description" content="<% if (config.description){ %><%- config.description %><% } else { %><%- theme.description %><% } %>">

  <%- css('css/main.css') %>
</head>
